html {
	margin: 20px;
	background-color: #87cefa;
}

body {
	font-family: "Tahoma";
	font-weight: 300;
	color: white;
}

h1 {
	font-size: 50px;
	text-align: center;
}

h2 {
	font-size: 35px;
	text-align: center;
}

h3 {
	font-size: 28px;
}

p {
	font-size: 20px;
	color: white;
}