html {
	margin: 20px;
	background-color: black;
}

#aboutme {
	font-size: 12px;
}

#profiles {
	font-size: 12px;
}

#edu {
	font-size: 12px;
}

a:link {
	font-color: white;
}

a:visited {
	font-color: white;
}

a:hover {
	font-color: red;
}

.inline {
	display: inline;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

body {
	font-family: "Tahoma";
	font-weight: 300;
	font-color: white;
}

h1 {
	font-size: 50px;
	background-color: #A80000;
}

h2 {
	font-size: 35px;
	background-color: #A80000;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 18px;
	background-color: #A80000;
}

p {
	font-size: 15;
	font-color: white;

.about {
	font-size: 15;
	font-color: white;
	font-family: Tahoma;
}