html {
	margin: 20px;
	background-color: #2F4F4F;
}

#aboutme {
	font-size: 12px;
}

#profiles {
	font-size: 12px;
}

#edu {
	font-size: 12px;
}

.link {
	color: #8dac96;
}

.inline {
	display: inline;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.center {
	text-align: center;
}

.align {
	display: flex;
	align-items: center;
}

.border {
	border: 1px;
	border-style: dashed;
	border-color: #b1a688;
	padding: 0.5em;
}

body {
	font-family: "Tahoma";
	font-weight: 300;
}

h1 {
	font-size: 50px;
	background-color: #b1a688;
}

h2 {
	font-size: 35px;
	background-color: #b1a688;
	font-color: #080808 !important;
}

h3 {
	font-size: 20px;
	font-color: #080808 !important;
}

h4 {
	font-size: 18px;
	background-color: #b1a688;
	font-color: #080808 !important;

p {
	font-size: 15;
	font-color: #080808 !important;
}

.about {
	font-size: 15;
	font-color: #080808 !important;
	font-family: Tahoma;
}
